body {
  /* background-color: #222; */
  color: white;
  font-family: 'Poppins', sans-serif;
}


a.active {
  @apply text-teal-400
}

.fadeAnimate {
  animation: .5s fadeAnimate ease-in-out;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.custom-loader {
  width: 50px;
  height: 12px;
  background:
    radial-gradient(circle closest-side, #FFFFFF 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #FFFFFF 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #FFFFFF 90%, #0000) 100% 50%;
  background-size: calc(100%/3) 100%;
  background-repeat: no-repeat;
  animation: d7 1s infinite linear;
}

.blur-content {
  background-image: linear-gradient(to right, rgba(31.5, 10.5, 10.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 10.5, 10.5, 0.84) 30%, rgba(31.5, 10.5, 10.5, 0.84) 100%);
}

@keyframes d7 {
  33% {
    background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
  }

  50% {
    background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
  }

  66% {
    background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
  }
}

@keyframes fadeAnimate {
  from {
    opacity: 0;
    /* transform: translateX(-20px); */
  }

  to {
    opacity: 1;
    /* transform: translateX(0); */
  }
}